<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Projectone</title>
    </head>
    <style>
    body{
        background-image: url('/static/bg1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    </style>
    <body>
        <h1 style="color:white">My Website</h1>
        <a href="{% url 'homepage:profile' %}" style="color:white">Profile</a>
        <p style="color:white">ini cuma untuk coba-coba mengulang pelajaran PPW</p>
        <img src="{% static 'tanda tangan.png' %}" width="104" height="142">
    </body>
</html>